
.wrapper{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(255,255,255);
}

.headline{
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
    background-color: rgb(250,250,255);
    font-size: 150%;
    letter-spacing: 4px;
    box-shadow: 2px 2px 15px rgba(200,200,200,0.3);
}

.content{
    height: 110%;
}

@media (max-width: 1000px) {
    .wrapper{
        width: 60%;
    }
}

@media (max-width: 768px) {
    .wrapper{
        width: 80%;
    }
}

@media (max-width: 480px) {
    .wrapper{
        width: 95%;
    }
    .headline{
        font-size: 115%;
    }
}