/* POST */
.post{
    width: 99%;
    /* box-shadow: 2px 2px 2px rgba(200,200,200,0.6); */
    border: 1px solid rgba(200,200,200,0.5);
    /* background-color: pink; */
}

.post-header{
    text-align: center;
    width: 100%;
    padding: 10px;
    color: rgb(30, 30, 30);
    letter-spacing: 2px;
    background-color: rgba(10, 120, 255, 0.5);
}

.post-content{
    text-align: justify;
    letter-spacing: 0px;
    font-size: 110%;
    padding: 40px;
}

.triangle{
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid rgb(30, 30, 30);
    float: right;
    transform: rotate(-45deg) translateX(11px) translateY(-7px);
}

/* EDITOR */
.edit-btn, .delete-btn, .save-btn{
    color: rgb(30, 30, 30);;
    border: 0;
    padding: 5px 5px 5px 5px;
}

.edit-btn{
    margin: -15px 0 0 0;
    box-shadow: 2px 2px 15px rgba(230,230,230,1);
    float: right;
}

.edit-btn:hover{
      background-color: rgba(0, 100, 0, 0.1);
}

.editor{
    margin: 50px 0 0 0;
}

.input-sm{
    width: 60%;
    margin: 0 0 20px 0;
}

.input-sm:focus, .input-hash:focus{
    background-color: rgb(245, 245, 245);
}

.edit-btn, .delete-btn, .save-btn{
    color: rgb(30, 30, 30);;
    border: 0;
    padding: 5px 5px 5px 5px;
}

.edit-btn{
    margin: -15px 0 0 0;
    box-shadow: 2px 2px 15px rgba(230,230,230,1);
    float: right;
}

.input-hash{
    width: 50%;
    text-align: center;
    margin-bottom: 5px;
}

.input-hash:last-child{
    margin-bottom: 20px;
}



@media (max-width: 768px) {
    .edit-menu{
        float: right;
    }
}

@media (max-width: 480px) {
    .edit-menu{
        float: right;
    }

    .hash-ul > li{
        margin: 0 10px 0 0;
    }
}