<!-- Post -->

<div class="post" *ngFor = "let post of posts; let i = index;">
  <div class="triangle"></div>
  <div class="post-header">
    <h2>{{posts[i].title}}</h2>
    by {{posts[i].author}}
  </div>
  <div class="post-content">
    <p>{{posts[i].content}}</p>
  </div>

  <!-- Editor
  <input type="button" class="edit-btn" value="Edit" (click) = 'toggleEditor()'>
  <div *ngIf = isVisible class="editor">
    <form action="submit">
        <input type="text" class="input-sm" placeholder="Title" #title>
        <input type="text" class="input-sm" placeholder="Author" #author>
        <textarea class="input-sm" placeholder="Write something..." cols="42" rows="10" #content></textarea>
    </form>
    <button class="save-btn" (click) = 'saveChanges(i, title.value, author.value, content.value)'>Save</button>
    <button class="delete-btn" (click) = 'deletePost()'>Delete</button>
    <button class="delete-btn" (click) = 'toggleEditor()'>Cancel</button>
  </div>
</div> -->




