<!-- Post -->

<div class="post" *ngFor = "let post of posts; let i = index;">
  <!-- <div class="triangle"></div> -->
  <div class="post-header">
    <p id="index">#{{posts[i].id}}</p>
    <h2>{{posts[i].title}}</h2>
    by {{posts[i].author}}
  </div>
  <div class="post-content">
    <p>{{posts[i].content}}</p>
  </div>

  <!-- Editor -->
  <input type="button" class="edit-btn" value="Edit" (click) = 'toggleEditor(i)'>
  <div *ngIf = "posts[i].isVisible" class="editor">
    <form action="submit">
        <input type="text" class="input-sm" value="{{posts[i].title}}" #title>
        <input type="text" class="input-sm" value="{{posts[i].author}}" #author>
        <textarea class="input-sm" value="{{posts[i].content}}" cols="42" rows="10" #content></textarea>
    </form>
    <button class="save-btn" (click) = 'saveChanges(i, title.value, author.value, content.value)'>Save</button>
    <button class="delete-btn" (click) = 'deletePost(i)'>Delete</button>
    <button class="delete-btn" (click) = 'toggleEditor(i)'>Cancel</button>
  </div>
</div>




